/* >>>> GENERAL <<<< */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #2d3436;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

#container {
    max-width: 850px;
    margin: 0 auto;
}

header,
footer {
    padding: 20px 40px;
    background: #ffeaa7;
}

/* >>>> LEFT SECTION <<<< */
#left {
    padding: 40px;
    text-align: center;
}

#left div {
    margin: 10px 0;
}

#location {
    font-size: 1.2em;
}

#temperature {
    font-size: 4em;
}

/* >>>> FOOTER <<<< */
footer {
    text-align: center;
}


/* >>>> RESPONSIVE <<<< */
@media screen and (min-width: 850px) {
    #container {
        margin: 40px auto;
    }
}